
	*
	{margin: 0; padding: 0;}
	
	
	body
	{
		background: #F0F0F0;
		font-family: 'Gugi', cursive;
	} 
		
				/*style seo ****************************************/
	#seoContent {
		background: #2b3133;
		color: #6ca0cb;
	}
	
	p {
		color: #c6d4cc;
	}
	
	a {
		color: #6ca0cb;
		text-decoration: none;
	}
	
	a:hover, span {
		color: #e8c23a;
	}
	
	a:hover b {
		color: #a1d036;
	}
		
	#wrapper
	{
	    margin: 0 auto;
	    max-width: 965px;
	    background: #444444;
	}
	
	.center
	{
		width: 945px;
		margin: 0 auto;
		background: #c1c1c1;
	}
	
	header
	{
		display: inline;
	}
	
	
	main{background: #2b3133}
	
	#banerFather{position: absolute;}
	
	#baner
	{
		color: #2B3133;
		min-height: 400px;
		max-height: 450px;
		min-width: 610px;
		max-width: 600px;
		position: absolute;
		bottom: 10px;
		left: 310px;
	}
	
	#baner a
	{
		color: #2B3133;
	}
	
	#baner a:hover
	{
		color: #FF4F1C;
	}
	
	
	ul 
	{
		width: 300px;
	}
	
	
	li
	{
	    list-style-type: none;
	}
	
	
	a {text-decoration: none;}
	
	
	#net
	{
		background: #444444; 
		height: 40px; 
		text-align: right;
	}
	
	
	#net img
	{
		margin: 7px 0 0 15px;
	}
	
	
	#net a:hover {
	    
	}
	
	
	#logo
	{
		color: #a52a2a;
	    font-size: 40px;
		letter-spacing: -3px;
		font-family: Arial;
	}
	
	
	nav li
	{
		width: 200px;
		background: #444444;
		margin: 0 0 10px 10px;
		border-radius: 10px;
		cursor: pointer;
	}
	
	
	nav li
	{
		display: block;
		color: white;
		padding: 10px;
	}
	
	
	nav li:hover
	{
		color: #85d7ff;
		background: #060810;
		border-radius: 10px;
		box-shadow: 0px 0px 8px rgba(211, 236, 252, 0.7);
		-webkit-animation: link 0.5s linear alternate forwards;
	}
	
	
	#logo
	{
		margin: 20px 10px;
	}
	
	
	#logo a
	{
		color: #a52a2a;
	}
	

	footer
	{
		text-align: center;
	    min-height: 220px;
	    background: #444444;
	}
	
	
	#footer
	{
		padding: 10px 0;
		background: #444444;
	}
	
	
	.footer-block
	{
	    height: 200px;
	    width: 304px;
		background: #c1c1c1;
	    border-radius: 5px;
		display: inline-block;
	}
	
	
	.block-footer
	{
	    margin: 0 10px;
	}
	
	
	@-webkit-keyframes link
	{
		from {
			width: 190px;
		}
		to {
			width: 250px;
		}
    }
	
	
	@-webkit-keyframes anim 
	{
		0% 
		{
			-webkit-transform: rotateX(50deg) rotateY(90deg) rotateZ(-90deg);
			-webkit-transform-origin: center;
		}
		15% 
		{
			-webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(-90deg);
			-webkit-transform-origin:  center;
		}
		30% 
		{
			-webkit-transform: rotateX(50deg) rotateY(-90deg) rotateZ(-90deg);
			-webkit-transform-origin:  center;
		}
		50%
		{
			-webkit-transform: rotateX(0deg) rotateY(-180deg) rotateZ(-255deg);
			-webkit-transform-origin:  center;
		}
		75% 
		{
			-webkit-transform: rotateX(180deg) rotateY(-180deg) rotateZ(-255deg);
			-webkit-transform-origin:  center;
		}
		99.5%, 100% 
		{
			-webkit-transform: rotateX(360deg) rotateY(-180deg) rotateZ(-255deg);
			-webkit-transform-origin:  center;
		}
	}
	
	#sqlTable
	{
		background: #5d5d5d;
		color: white;
	}
	
	#sqlTable td
	{
		border: 1px solid;
		width: 100px;
		height: 30px;
	}
	
	.red {
			background: black;
			text-align: center;
		}
		