body
	{
		background: #F0F0F0;
		font-family: 'Gugi', cursive;
	} 
		
/*style seo ****************************************/
	#seoContent {
		background: #2b3133;
		color: #6ca0cb;
	}
	
	p {
		color: #c6d4cc;
	}
	
	a {
		color: #6ca0cb;
		text-decoration: none;
	}
	
	a:hover, span {
		color: #e8c23a;
	}
	
	a:hover b {
		color: #a1d036;
	}
		
	#wrapper
	{
	    background: #c1c1c1;
		width: 1000px;
	}
	
	
	header
	{
		background: #c1c1c1;
	}
	
	
	main{background: #2b3133}
	
	
	#baner
	{
		color: #2B3133;
	}
	
	#baner a
	{
		color: #2B3133;
	}
	
	#baner a:hover
	{
		color: #FF4F1C;
	}
	
	
	ul 
	{

	}
	
	
	li
	{
	    list-style-type: none;
	}
	
	
	#net
	{
		background: #444444; 
		height: 40px; 
	}
	
	
	#net img
	{

	}
	
	
	#net a:hover {
	    
	}
	
	
	#logo
	{
		color: #a52a2a;
		letter-spacing: -3px;
		font-family: Arial;
	}
	
	
	nav li
	{
		width: 200px;
		background: #444444;
		margin: 0 0 10px 10px;
		border-radius: 10px;
		cursor: pointer;
	}
	
	
	nav li
	{
		display: block;
		color: white;
		padding: 10px;
	}
	
	
	nav li:hover
	{
		color: #85d7ff;
		background: #060810;
		border-radius: 10px;
		box-shadow: 0px 0px 8px rgba(211, 236, 252, 0.7);
		-webkit-animation: link 0.5s linear alternate forwards;
	}
	
	
	#logo
	{
		margin: 20px 10px;
	}
	
	
	#logo a
	{
		color: #a52a2a;
	}
	

	footer
	{
		background: #c1c1c1;
	}
	
	
	footer div
	{
		min-height: 300px;
		background: #444444;
	}

	
	
	@-webkit-keyframes link
	{
		from {
			width: 190px;
		}
		to {
			width: 250px;
		}
    }
	
	
	@-webkit-keyframes anim 
	{
		0% 
		{
			-webkit-transform: rotateX(50deg) rotateY(90deg) rotateZ(-90deg);
			-webkit-transform-origin: center;
		}
		15% 
		{
			-webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(-90deg);
			-webkit-transform-origin:  center;
		}
		30% 
		{
			-webkit-transform: rotateX(50deg) rotateY(-90deg) rotateZ(-90deg);
			-webkit-transform-origin:  center;
		}
		50%
		{
			-webkit-transform: rotateX(0deg) rotateY(-180deg) rotateZ(-255deg);
			-webkit-transform-origin:  center;
		}
		75% 
		{
			-webkit-transform: rotateX(180deg) rotateY(-180deg) rotateZ(-255deg);
			-webkit-transform-origin:  center;
		}
		99.5%, 100% 
		{
			-webkit-transform: rotateX(360deg) rotateY(-180deg) rotateZ(-255deg);
			-webkit-transform-origin:  center;
		}
	}
	
	#sqlTable
	{
		background: #5d5d5d;
		color: white;
	}
	
	#sqlTable td
	{

	}
	
	.red {
			background: black;
		}
		